* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#body-container {
	padding-left: 0;
	padding-right: 0;
}

#carousel-container,
#section-container,
#carousel-container-about {
	width: 100%;
	padding-left: 0;
}

#banner {
	padding-left: 0;
	padding-right: 0;
	background-image: url("../images/banner-pic.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-container {
	height: 100vh;
	width: 100vw;
}

#logo {
	font-family: 'Merriweather', serif;
	font-size: 1.7rem;
	letter-spacing: 2px;
}

.caption {
	padding-top: 50%;
	padding-bottom: 5%;
	text-align: center;
}

.caption h1 {
	font-family: 'Merriweather', serif;
	letter-spacing: 10px;
	font-size: 7rem;
}

.caption h1,
.caption p span {
	color: white;
	font-weight: bolder;
}

.caption p .sub-text:hover {
	color: grey;
	cursor: default;
}

#jumbotron {
	background-color: #f6f2df;
}

[class*="image-container"] {
	background-color: #ccbdbd;
}

[class*="girl-image-hover"]:hover {
	background-color: #f2cfcf;
	box-shadow: 5px 5px 20px #888888;
	transform: scale(1.1);
	z-index: 1;
}

[class*="boy-image-hover"]:hover {
	background-color: #90b493;
	box-shadow: 5px 5px 20px #888888;
	transform: scale(1.1);
	z-index: 1;
}

.parallax {
	padding: 125px 0 30px 0;
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#parallax-bg-1 {
	background-image: url("../images/parallax-bg-1.jpg");
}

#parallax-bg-2 {
	background-image: url("../images/parallax-bg-2.jpg");
}
#parallax-bg-3 {
	background-image: url("../images/parallax-bg-3.jpg");
	padding: 1px 0 42px 0;
}


/* ABOUT */
#about-inner {
	height: 300px;
}
#about-image-overlay {
	background-color: rgba(188,162,141, 0.5);
	height: 100%;
}
.founders-pic {
	border-radius: 100%;
}
#founders-card .card,
#founders-pics .card {
	border: none;
	background: transparent;
}
#founders-card {
	background-color: rgba(219,213,199, 0.5);
}
#founders-pics {
	background-color: rgba(142,121,133, 0.5);
}
.card-img-overlay {
	background-color: rgba(188,162,141,0.5);
	padding: 40% 1% 5% 1.5%;
}
.button-container {
	position: absolute;
	bottom: 5%;
}


/* APPLICATION */
#apply-container {
	height: 16em;
}
#apply-container .card {

	width: 75%;
}
#apply-button {
	background-color: #553332;
	border-radius: 5%;
	color: #dfe8ea;
	position: absolute;
	left: 43%;
}
#apply-button:hover {
	background-color: #dfe8ea;
	color: #553332;
}
#card {
	height: 40em;
	max-height: 40em;
	position: relative;
}
.modal-content {
	position: relative;
}
#app-image-side:hover,
#app-image-closeup:hover,
#app-image-fullbody:hover {
	z-index: 9999;
}
.application-images {
	border: 1px solid black;
	position: absolute;
}
#app-image-side {
	z-index: 1;
	-ms-transform: rotate(-20deg); /* IE */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
	height: 75%;
	left: 10%;
	top: 15%;
}
#app-image-closeup {
	z-index: 2;
	height: 75%;
	left: 30%;
	top: 5%;
}
#app-image-fullbody {
	z-index: 3;
	-ms-transform: rotate(20deg); /* IE */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
	height: 75%;
	left: 49%;
	top: 15%;
}

/* TYTY TIPS */
.parallax div span {
	background-color: rgba(204,189,189, 0.5);
	box-shadow: 5px 5px 20px #968f8f;
	padding: 1.5%;
}
.parallax .container-fluid section {
	background-color: rgba(204,189,189, 0.5);
	margin-bottom: 10%;
}
#home-image-1,
#home-image-2,
#home-image-3 {
	height: 25em;
	max-height: 25em;
	width: 18em;
	max-width: 18em;
}

.card-height {
	background-color: rgba(211,211,211, 0.5);
	height: 33em;
	max-height: 33em;
	padding-top: 20px;
}


/* FOOTER */
footer {
	background-color: #000;
}
footer div span a {
	color: #fff;
}
footer div span a:hover {
	color: 	#725b64;
}
footer div small,
footer div small a {
	color: #fff !important;
}
footer div small a:hover {
	color: 	#725b64 !important;
}
#back-to-top {
	color: grey;
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}
.container-fluid h3 {
		font-size: 3rem;
}
.container-fluid .social-container span {
		margin: 0 9%;
}
.social-container {
	width: 50%;
	margin: auto;
}
#contact-container .card {
	border: none;
}
.footer-links {
	color: black;
	font-weight: bold;
}
.footer-links:hover {
	color: gray;
	text-decoration: none;
}


/* --------- MEDIA QUERIES --------- */
@media only screen and (max-width: 600px) {
	/*LANDING PAGE*/
	.caption {
		padding-top: 105%;
		padding-bottom: 5%;
		text-align: center;
	}
	.caption h1 {
		font-family: 'Merriweather', serif;
		letter-spacing: 10px;
		font-size: 3.2rem;
	}
	.caption p span {
		font-size: 1rem;
	}

	#above-main #section-container section .card figure img {
		padding-left: 15px;
	}

	footer div {
		text-align: center;
	}

	#apply-button {
		position: absolute;
		left: 35%;
	}

	.container-fluid h3,
	.parallax div span {
		font-size: 1.3rem;
	}

	.container-fluid .card p {
		font-size: 0.5rem
	}

	#apply-container .card {
		margin-top: 30px;
		width: 100%;
	}

	.parallax .card h6 {
		font-size: 1.5rem;
	}
	.parallax .card h4 {
		font-size: 1rem;
	}

	.parallax .card .card-header {
		margin-top: 10px;
	}

	.application-images {
		border: 1px solid black;
		position: absolute;
	}

	#modal-size {
		height: 15em;
		position: relative;
	}

	/*APPLICATION*/
	#card {
		height: 13em;
		max-height: 13em;
		position: relative;
	}
	#app-image-side {
		height: 70%;
		left: 15%;
		top: 16%;
	}
	#app-image-closeup {
		z-index: 2;
		height: 70%;
		left: 36%;
		top: 6%;
	}
	#app-image-fullbody {
		height: 70%;
		left: 54%;
		top: 16%;
	}

	/*FOOTER*/
	.container-fluid .social-container span {
		margin: 0 1%;
	}
	.social-container {
		width: 50%;
	}
	/*TYTY TIPS*/
	#home-image-1,
	#home-image-2,
	#home-image-3 {
		height: 24em;
		max-height: 24em;
		width: 18em;
		max-width: 18em;
	}
} 

@media only screen and (min-width: 600px) and (max-width: 767px){
	/*LANDING PAGE*/
	.caption {
		padding-top: 85%;
		padding-bottom: 5%;
		text-align: center;
	}
	.caption h1 {
		font-family: 'Merriweather', serif;
		letter-spacing: 10px;
		font-size: 8rem;
	}

	/*APPLICATION*/
	#card {
		height: 24em;
		max-height: 24em;
		position: relative;
	}
	#app-image-side {
		height: 75%;
		left: 10%;
		top: 15%;
	}
	#app-image-closeup {
		z-index: 2;
		height: 75%;
		left: 30%;
		top: 5%;
	}
	#app-image-fullbody {
		height: 75%;
		left: 49%;
		top: 15%;
	}

	/*TYTY TIPS*/
	#home-image-1,
	#home-image-2,
	#home-image-3 {
		height: 32em;
		max-height: 32em;
		width: 26em;
		max-width: 26em;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.caption {
		padding-top: 85%;
		padding-bottom: 5%;
		text-align: center;
	}
	.container-fluid h3 {
		font-size: 2.1rem;
	}

	.parallax div span,
	.parallax .card h6 {
		font-size: 1.8rem;
	}
	.parallax .card h4 {
		font-size: 1rem;
	}

	/*APPLICATION*/
	#card {
		height: 21em;
		max-height: 21em;
		position: relative;
	}
	#app-image-side {
		height: 75%;
		left: 10%;
		top: 15%;
	}
	#app-image-closeup {
		z-index: 2;
		height: 75%;
		left: 30%;
		top: 5%;
	}
	#app-image-fullbody {
		height: 75%;
		left: 55%;
		top: 15%;
	}

	/*TYTY TIPS*/
	#home-image-1,
	#home-image-2,
	#home-image-3 {
		height: 25em;
		max-height: 25em;
		width: 19em;
		max-width: 19em;
	}
} 

 /*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.caption {
		padding-top: 86%;
		padding-bottom: 5%;
		text-align: center;
	}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.caption {
		padding-top: 35%;
		padding-bottom: 5%;
		text-align: center;
	}
}